body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.50;
  font-family: "Roboto", Arial, sans-serif;
  color: #283136;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-header,
.features {
  background-color: #eeeeee;
}


.header-logo {
  width: 160px;
  height: 70px;
  margin-right: 200px;
}

.cart-navigation{
  margin-left: 280px;
}

.main-navigation {
  display: flex;
  align-items: center;
  width: 1160px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  outline: 2px solid red;
}

.menu-navigation {
  width: 440px;
  display: flex;
  justify-content: space-between;
}

.main-navigation {
  line-height: 1.88;
  font-weight: 500;
  color: #191919;
  text-transform: uppercase;
}

.main-navigation a:hover {
  color: #fa6669;
}

.main-navigation a:active {
  color: #b9b9b9;
}

.features-list {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  outline: 2px solid red;
}

.features-list h2 {
  font-size: 55px;
  line-height: 1;
  font-weight: 500;
  color: #000000;
}

.features-list .button {
  line-height: 1.13;
  color: #ffffff;
  background-color: #fb565a;
}

.features-list .button:hover,
.service-button:hover {
  background-color: #e74246;
}

.features-list .button:active,
.service-button:active {
  background-color: #d7373b;
}

.feature-first {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: right;
  flex-basis: 413px;
}

.feature-second {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: right;
  flex-basis: 413px;
}

.feature-third {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: right;
  flex-basis: 413px;
}

.products-list {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  outline: 2px solid red;
}

.products-list h3 {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.products-list .button {
  font-weight: 500;
  color: #ffffff;
}

.product-web {
  background-image: url("../img/illustration-1.jpg");
  background-repeat: no-repeat;
  background-position: right;
  width: 300px;
}

.product-apps {
  background-image: url("../img/illustration-2.jpg");
  background-repeat: no-repeat;
  background-position: right;
  width: 300px;
}

.product-presentation {
  background-image: url("../img/illustration-3.jpg");
  background-repeat: no-repeat;
  background-position: right;
  width: 300px;
  margin-right: 60px;
}

.web {
  background-color: #fb565a;
}

.apps {
  background-color: #00ca74;
}

.presentation {
  background-color: #efc849;
}

.product-web a:hover {
  background-color: #e74246;
}

.product-web a:active {
  background-color: #d7373b;
}

.product-apps a:hover {
  background-color: #00bc6c;
}

.product-apps a:active {
  background-color: #00aa62;
}

.product-presentation a:hover {
  background-color: #eab534;
}

.product-presentation a:active {
  background-color: #e5a722;
}

.info-wrapper {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.info b,
.modal-window h2 {
  font-size: 45px;
  line-height: 1;
  font-weight: 500;
  color: #000000;
}

.info p:last-of-type,
.statistics caption {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.statistics tr:first-of-type {
  font-size: 45px;
  line-height: 0.23;
  color: #000000;
  font-weight: 700;
}

.statistics tr:last-of-type {
  line-height: 1.13;
}

.partners-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1160px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  outline: 2px solid red;

}

.contacts {
  background-color: #ffffff;
}

.contacts h3 {
  font-size: 18x;
  line-height: 1.67;
  color: #000000;
  font-weight: 700;
}

.button-write-us {
  line-height: 1.13;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb565a;
}

.name-field {
  line-height: 1.13;
  font-weight: 700;
}

.field-input:hover {
  border-color: #cdd0d2;
}

.field-input:focus {
  border-color: #000000;
}

.button-send {
  line-height: 1.13;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb565a;
}

.socials {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  outline: 2px solid red;

}

.socials-wrapper {
  margin-left: 140px;
}

.socials b {
  font-size: 36px;
  line-height: 1;
  font-weight: 700;
}

.socials p {
  line-height: 1.38;
}

.store h1 {
  font-size: 55px;
  line-height: 1;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
  text-align: center;
}

.catalog-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  outline: 2px solid red;
}

.name-list {
  font-size: 18px;
  line-height: 1.67;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.radio-name,
.checkbox-button {
  line-height: 1.25;
}

.radio-button:hover,
.radio-name:hover,
.checkbox-button:hover,
.checkbox-name:hover {
  color: #000000;
}

.button-filter {
  line-height: 1.13;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
}

.filter {
  width: 260px;
  margin-right: 140px;
}

.filter button:hover {
  background-color: #dfdfdf;
}

.filter button:active {
  background-color: #d5d5d5;
}

.catalog {
  width: 760px;
}

.catalog h2 {
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.sort a {
  font-size: 14px;
  line-height: 1.29;
  color: #c2c2c2;
  text-transform: uppercase;
}

.sort a:hover {
  color: #989898;
}

.sort a:active {
  color: #231f20;
}

.head-wrapper {
  display: flex;
  justify-content: space-between;
}

.sort-list {
  display: flex;
  align-items: center;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  /*justify-content:space-between;*/
}

.service-item {
  width: 360px;
  margin-bottom: 35px;
}

.service-item:nth-child(2n-1) {
  margin-right: 40px;
}

.service-link {
  font-size: 18px;
  line-height: 1.67;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.service p {
  line-height: 1.13;
  color: #666666;
}

.service-button {
  line-height: 1.13;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb565a;
}

.pagination-list {
  display: flex;
  align-items: center;
  margin-left: 400px;
}

.pagination-list li:first-child {
  line-height: 1.13;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  outline: 3px solid #eeeeee;
  outline-offset: -3px;
  padding: 15px 20px;
}

.pagination li:not(:first-child) {
  line-height: 1.13;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  background-color: #eeeeee;
  padding: 15px 20px;
}

.pagination li {
  margin-right: 10px;
}

.pagination li:last-child {
  padding: 15px 80px;
  text-align: center;
}

.pagination a:hover {
  background-color: #dfdfdf;
}

.pagination a:active {
  background-color: #d5d5d5;
}
